package modules

{{if .}}
import (
    {{- range .}}
    {{.Vendor}}{{.Module | Title}} "github.com/prebid/prebid-server/v2/modules/{{.Vendor}}/{{.Module}}"
    {{- end}}
)
{{end}}

// builders returns mapping between module name and its builder
// vendor and module names are chosen based on the module directory name
func builders() ModuleBuilders {
    return ModuleBuilders{
        {{- range .}}
        "{{.Vendor}}": {
            "{{.Module}}": {{.Vendor}}{{.Module | Title}}.Builder,
        },
        {{- end}}
    }
}
