package modules
import (
{{- range $vendor, $modules := .}}
    {{- range $module := $modules}}
        {{$vendor}}{{$module | Title}} "github.com/prebid/prebid-server/v3/modules/{{$vendor}}/{{$module}}"
    {{- end}}
{{- end}}
)

// builders returns mapping between module name and its builder
// vendor and module names are chosen based on the module directory name
func builders() ModuleBuilders {
    return ModuleBuilders{
        {{- range $vendor, $modules := .}}
        "{{$vendor}}": {
            {{- range $module := $modules}}
            "{{$module}}": {{$vendor}}{{$module | Title}}.Builder,
            {{- end}}
        },
        {{- end}}
    }
}
