name: Adapter Code Coverage

on:
  pull_request:
    paths: ["adapters/*/*.go"]

permissions:
  contents: read

jobs:
  run-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.0

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Discover Adapter Directories
        id: get_directories
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const utils = require('./.github/workflows/helpers/pull-request-utils.js')
            function directoryExtractor(filepath, status) {
              // extract directory name only if file is not removed and file is in adapters directory
              if (status != "removed" && filepath.startsWith("adapters/") && filepath.split("/").length > 2) {
                return filepath.split("/")[1]
              }
              return ""
            }
            const helper = utils.diffHelper({github, context})
            const directories = await helper.getDirectories(directoryExtractor)
            // run coverage for maximum of 2 directories
            return (directories.length == 0 || directories.length > 2) ? "" : JSON.stringify(directories)

      - name: Run Coverage Tests
        id: run_coverage
        if: steps.get_directories.outputs.result != ''
        run: |
          directories=$(echo '${{ steps.get_directories.outputs.result }}' | jq -r '.[]')
          go mod download

          # create a temporary directory to store the coverage output
          temp_dir=$(mktemp -d)
          touch ${temp_dir}/coverage_output.txt

          # generate coverage for adapter
          cd ./adapters
          for directory in $directories; do
            cd $directory
            coverage_profile_path="${PWD}/${directory}.out"
            go test -coverprofile="${coverage_profile_path}"
            go tool cover -html="${coverage_profile_path}" -o "${temp_dir}/${directory}.html"
            go tool cover -func="${coverage_profile_path}" -o "${temp_dir}/${directory}.txt"
            cd ..
          done
          echo "coverage_dir=${temp_dir}" >> $GITHUB_OUTPUT

      - name: Save PR Context
        if: steps.run_coverage.outputs.coverage_dir != ''
        run: |
          mkdir -p ${{ steps.run_coverage.outputs.coverage_dir }}/metadata
          echo '${{ github.event.pull_request.number }}' > ${{ steps.run_coverage.outputs.coverage_dir }}/metadata/pr_number
          echo '${{ github.event.pull_request.head.sha }}' > ${{ steps.run_coverage.outputs.coverage_dir }}/metadata/head_sha
          echo '${{ steps.get_directories.outputs.result }}' > ${{ steps.run_coverage.outputs.coverage_dir }}/metadata/directories

      - name: Upload Coverage Artifacts
        if: steps.run_coverage.outputs.coverage_dir != ''
        uses: actions/upload-artifact@v4
        with:
          name: coverage-results
          path: ${{ steps.run_coverage.outputs.coverage_dir }}
          retention-days: 1
