name: PublishOnly

on:
  workflow_dispatch:
    inputs:
      imageToPublish:
        type: string
        required: true
        description: 'Already built docker image to publish to docker hub'

  publish-docker-image:
    name: Publish docker image
    runs-on: ubuntu-latest
    steps:
      - name: Login to docker Hub
        if: contains(inputs.debug, 'false')
        id: login
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Publish to docker Hub
        if: steps.login.outcome == 'success'
        run: |
          docker push docker.io/prebid/prebid-server:${{ inputs.imageToPublish }}
