name: Validate Merge

on:
  pull_request:
    branches: [master]

jobs:
  validate-merge:
    runs-on: ubuntu-latest
    
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.24.0

    - name: Checkout Merged Branch
      uses: actions/checkout@v4

    - name: Validate
      run: |
        ./validate.sh --nofmt --cov --race 10
      env:
        GO111MODULE: "on"
